!!! 5
%html
  %head
    %title LLT Review
    %link{ rel: 'stylesheet', href: '/stylesheets/default_styles.css' }
    %link{ rel: 'stylesheet', href: '/stylesheets/style.css' }
  %body
    .container= yield

    %script{ src: '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'}
    %script{ src: '/javascripts/tooltipsy.min.js' }
    %script{ src: '/javascripts/script.js' }
