.container {
  max-width: 1000px;
  margin: 20px auto;
}

.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

td.first {
  text-align: left;
  padding: 5px 10px;
  /*border-bottom: 1px solid #434343;*/
  color: #b6b6b6;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

.success {
  color: rgb(106, 243, 106);
}

.error {
  color: red;
}

.yellow {
  color: yellow;
}

.big{
  font-size: x-large;
}

.tooltip {
  display: inline;
  position: relative;
}

.tooltip:hover:after {
  background: rgba(0,0,0,.9);
  border-radius: 5px;
  bottom: 24px;
  color: #fff;
  content: attr(tooltip);
  white-space: pre;
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px;
}

.tooltip:hover:before {
  border: solid;
  border-color: rgba(0,0,0,.9) transparent;
  border-width: 6px 6px 0 6px;
  bottom: 18px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}

sup.tiny {
  color: #b6b6b6;
  font-size: 50%;
  top: -0.8em;
  left: -0.4em;
}
